<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <form action="<%- PayGateWay %>" method="post">
        <input type="text" name="MerchantID" value="<%- MerchantID %>" />
        <input type="text" name="TradeSha" value="<%- order.shaEncrypt %>" />
        <input type="text" name="TradeInfo" value="<%- order.aesEncrypt %>" />
        <input type="text" name="TimeStamp" value="<%- order.TimeStamp %>" />
        <input type="text" name="Version" value="<%- Version %>" />
        <input type="text" name="NotifyUrl" value="<%- NotifyUrl %>" />
        <input type="text" name="ReturnUrl" value="<%- ReturnUrl %>" />
        <input
          type="text"
          name="MerchantOrderNo"
          value="<%- order.MerchantOrderNo %>"
        />
        <input type="text" name="Amt" value="<%- order.Amt %>" />
        <input type="text" name="ItemDesc" value="<%- order.ItemDesc %>" />
        <input type="email" name="Email" value="<%- order.Email %>" />
        <button type="submit">送出</button>
      </form>
    </div>
  </body>
</html>
